name: Build

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET 10.0
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x
    - name: Install dotnet-set-version
      run: dotnet tool install --global dotnet-set-version
    - name: Compute Version
      run: echo "version_number=1.2.${{ github.run_number }}" ${{ github.sha }}>> $GITHUB_ENV
    - name: Set Version
      run: dotnet-set-version ${{ env.version_number }}
    - name: Build dotnet-markdown-sample-code
      run: dotnet build dotnet-markdown-sample-code.csproj -c Release
    - name: Package
      run: dotnet pack dotnet-markdown-sample-code.csproj -c Release
    - name: Publish
      run: dotnet nuget push ./nupkg/dotnet-markdown-sample-code.${{ env.version_number }}.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json
